
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 960px) {
    .conteiner {
        width: 50%;
    }
    .textposition {
        margin-left: -270px;
    }
    .item3 { 
        margin-left: -540px;
        margin-top: 250px;
    }
    .item4 { 
        margin-left: -270px;
        margin-top: 250px;
    }
    .item5 { 
        margin-left: -540px;
        margin-top: 500px;
    }
    .item6 { 
        margin-left: -270px;
        margin-top: 500px;
    }
    footer {
        position: absolute;
        margin-top: 700px;
        margin-left: 180px;
    }

@media screen and (max-width: 768px) {
    .conteiner {
        width: 62%;
    }
    .textposition {
        margin-left: -300px;
    }
    a {
    font-weight: 300;
    font-size: 20px;
    color: #e6e6e6;
    text-decoration: none;
    cursor: pointer;
    }
    .India  { 
        width: 500px;
        height: 330px;
    }
    .Nepal  { 
        width: 500px;
        height: 330px;
    }
    .Tibet  { 
        width: 500px;
        height: 330px;
    }
    .item3 { 
        margin-left: 0px;
        margin-top: 10px;
    }
    .Bhutan { 
        width: 500px;
        height: 330px;
    }
    .item4 { 
        margin-left: 0px;
        margin-top: 10px;
    }
     .SriLanka { 
        width: 500px;
        height: 330px;
    }
    .item5 { 
        margin-left: 0px;
        margin-top: 10px;
    }
     .Maldives { 
        width: 500px;
        height: 330px;
    }
    .item6 { 
        margin-left: 0px;
        margin-top: 10px;
    }
    footer {
        position: absolute;
        margin-top: 2400px;
        margin-left: 165px;
    }